@import "tailwindcss";

@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/CeraPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/CeraPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --color-primary: #0FAC87;
  --color-primary-dark: #0A8A6B;
  --color-primary-light: #3CC9A4;

  --color-text: #1A1A1A;
  --color-text-light: #FFFFFF;

  --color-bg: #FFFFFF;

  --color-border: #EAEAEA;

  --color-overlay: rgba(0, 0, 0, 0.5);

  --color-highlight: #FCDA47;
}

body {
  font-family: "Cera Pro", sans-serif;
}