@import "tailwindcss";

@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/CeraPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/CeraPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 700;
  font-style: normal;
}

@theme {
  --font-lora: "Lora", serif;

  --color-primary: #0FAC87;
  --color-primary-dark: #0A8A6B;
  --color-primary-light: #3CC9A4;

  --color-text: #1A1A1A;
  --color-text-light: #FFFFFF;
  --color-text-dark: #1C2C57;

  --color-bg: #FFFFFF;
  --color-border: #EAEAEA;

  --color-border-primary: #0FAC87;
  --color-overlay: rgba(0, 0, 0, 0.5);
  --color-bg-highlight: #008767;

  --text-xxs: 10px;
  --text-xs: 11px;
  --text-xs-sm: 12px;
  --text-sm: 14px;
  --text-sm-md:16px;
  --text-md: 18px;
  --text-lg: 22px;
  --text-md-lg: 20px;
  --text-xl: 24px;

  --text-2xl: 32px;
  --text-2xl-3xl:36px;
  --text-3xl: 38px;
  --text-4xl: 44px;
  --text-5xl: 50px;
  --text-5xl-6xl: 60px;
  --text-6xl: 64px;
  --text-6xl-7xl: 72px;
  --text-7xl: 80px;

  --text-background-sm: 100px;
  --text-background-sm-md: 120px;
  --text-background-md: 160px;
  --text-background-md-lg: 240px;
  --text-background-lg-lite: 300px;
  --text-background-lg: 340px;
  --text-background-lg-xl: 400px;
  --text-background-xl: 420px;
  --text-background-xxl: 500px;

  --breakpoint-desktop: 120rem;
  --breakpoint-ultra: 156.25rem;
}

:root {
  --font-primary: "Cera Pro", sans-serif;
}

body {
  font-family: var(--font-primary);
  line-height: 1; 
}